@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
}
.Header {
  font-size: 5vw;
  margin-top: 25vh;
  color: #fff;
}
.TIP {
  font-size: 2vw;
  color: #d6ed17;
  margin-top: 10vh;
}
.Alb {
  margin-left: 10px;
  font-family: "Merriweather Sans", sans-serif;
  color: #fff;
}
#Galben {
  color: #d6ed17;
  font-style: italic;
}
#Search {
  margin-top: 10vh;
}

.p-input-icon-right {
  width: 50vw;
}
.InputText {
  width: 50vw;
  height: 7vh;
  border-radius: 5px;
  background-color: black;
}
.InputText:focus {
  border: 3px solid #d6ed17;
}
.Container {
  width: 100vw;
  height: auto;

  margin-left: auto;
  margin-right: auto;
}
.Content {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
main {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.TitluFilme {
  color: white;
  font-size: 6vw;
  font-family: "Antic Slab", serif;
}
.InformatiiFilm {
  color: #d6ed17;
  font-size: 3vw;
  font-family: "Antic Slab", serif;
}
.Sageata {
  display: block;
  color: #fff;
}
.Sageata:hover {
  margin-right: -120%;
  transition: 0.7s;
}
.ImgContainer {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}
.ImaginiGalben {
  width: 100%;
  height: 10%;

  filter: contrast(60%);

  border-radius: 8px;
}
.InimaGoala {
  color: white;
  float: left;
  font-size: 4vw;
  padding: 10px;
  cursor: pointer;
}
.Numar {
  color: #d6ed17;
  float: left;
  font-size: 4vw;
  padding: 10px;
  cursor: pointer;
  font-family: "Merriweather Sans", sans-serif;
}

.Chat {
  color: #282727;
  float: right;
  font-size: 4vw;
  padding: 10px;
  cursor: pointer;
}
.Arrow {
  color: #d6ed17;
  float: right;
  font-size: 4vw;
  padding: 10px;
  cursor: pointer;
}
.Imagini {
  width: 100%;
  height: 100%;
  filter: brightness(35%);
  border-radius: 20px;
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  .Header {
    font-size: 10vw;
  }
  .InputText {
    height: 5vh;
    margin-top: 0;
  }
  .Imagini {
    margin-top: 2vh;
  }
  main {
    margin-top: 15vh;
  }
  .TitluFilme {
    padding: 1vw;
  }
  .InformatiiFilm {
    padding: 0.5vw;
  }
  .Sageata {
    padding: 1vw;
  }
  .TIP {
    font-size: 3vw;
    color: #d6ed17;
    margin-top: 10vh;
  }
  #Search {
    margin-top: 6vh;
  }
}
@media only screen and (max-width: 960px) {
  .Header {
    font-size: 10vw;
  }
  .Imagini {
    margin-top: 2vh;
  }
  .TIP {
    font-size: 5vw;
  }
  .Container {
    margin-top: 10vh;
  }
}
@media only screen and (min-width: 960px) {
  .TitluFilme {
    color: white;
    font-size: 4vw;
    font-family: "Antic Slab", serif;
  }
  .InformatiiFilm {
    color: #d6ed17;
    font-size: 2vw;
    font-family: "Antic Slab", serif;
    z-index: 10;
  }
  .Imagini {
    margin-top: 5vh;
  }
}
@media only screen and (min-width: 1024px) {
  .Container {
    width: 100vw;
    height: auto;
    margin-top: 20vh;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto auto auto auto;
    grid-gap: 3vw;
  }
  .Content {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 3px;
  }
  .TitluFilme {
    color: white;
    font-size: 1vw;
    font-family: "Antic Slab", serif;
    font-family: "Merriweather Sans", sans-serif;
    padding: 1.5vh;
  }
  .InformatiiFilm {
    color: #d6ed17;
    font-size: 0.7vw;
    font-family: "Antic Slab", serif;
    font-family: "Merriweather Sans", sans-serif;
    padding: 0.4vh;
  }
  .ImgContainer {
    margin-top: 1.5vh;
    height: 140px;
    align-items: center;
  }
  .Arrow {
    font-size: 1vw;
  }
  .Chat {
    font-size: 1vw;
  }
  .Numar {
    font-size: 1vw;
    font-family: "Merriweather Sans", sans-serif;
  }
  .InimaGoala {
    font-size: 1vw;
  }
  .Imagini {
    margin-top: 0;
  }
  main:hover {
    background-color: #282727;
    filter: brightness(40%);
    border: 3px #d6ed17 solid;
    padding: 0;
  }
  .Sageata {
    display: block;
    color: #fff;
  }
}
